
div.titreArticle {
	margin-left: auto;
  	margin-right: auto;
  	margin-top: 20px;

  	padding-left: 20px;

  	/*border-bottom: 1px solid gray;*/

  	color: #5385FF;
  	/*font-weight: bold;*/
  	font-family: Tahoma, Arial, Times;
  	font-size: 1.5em;
}

div.texteMilieu {
	padding: 10px;

	border: 0px;

	width: auto;
	height: auto;

	float: right;
	display: inline;

	background-color: #FFFFFF;
}

span.gras {
	font-weight: bold;
}

span.chapitre1 {
	color: #3163FF;

  	font-family: Tahoma, Arial, Times;
  	font-size: 1.3em;
  	/* font-weight: bold; */

  	padding-left: 10px;
}

div.chapitre1 {
	padding-left: 10px;

}

span.chapitre2 {
	color: #3163FF;
  	/*font-weight: bold;*/
  	font-family: Tahoma, Arial, Times;
  	font-size: 1.1em;
  	text-decoration: underline;


  	padding-left: 20px;
  	padding-bottom: 10px;
}

div.chapitre2 {
	padding-left: 20px;

}

span.chapitre3 {
	color: #5385FF;
  	/*font-weight: bold;*/
  	font-family: Tahoma, Arial, Times;
  	font-size: 1em;
  	text-style: italic;

  	padding-left: 25px;
  	padding-bottom: 10px;
}

div.chapitre3 {
	padding-left: 25px;

}

span.souligne {
	text-decoration: underline;
}

span.citation {
	font-style: italic;
}

span.versetBiblique {
	text-decoration: underline;
}

a.contexte {
	padding-left: 10px;

  	border: 0px;
	color: #3333CC;

	text-decoration: none;
	font-size: 0.8em;
	font-style: normal;
}
a.lienMenu:active{color: #3333CC; text-decoration: none;}
a.lienMenu:visited{color: #3333CC; text-decoration: none;}
a.lienMenu:hover{color: black; text-decoration: none;}

div.contexteBiblique {
	visibility: hidden;
	position: absolute;

	background-color: #FFFBBC;
	font-size: 0.9em;
	height: auto;

	border: 1px solid #DCDCDC;

	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    behavior: url(./librairieWeb/PIE.htc);

	z-index: 3000;
}