body {
	font-family: Arial, Helvetica, sans-serif;

/*	background-image: url(../images/fond3.png);*/
/*  	background-attachement: fixed;*/
/*	background-color: #351EAE;*/

	background-color: #EAEAEA;
}

div.cadrePrincipal {
	width: 800px;
	margin-left: auto;
  	margin-right: auto;

/*  	-webkit-border-radius: 10px 10px 0 0;*/
/*    -moz-border-radius: 10px 10px 0 0;*/
/*    border-radius: 10px 10px 0 0;*/
/*    behavior: url(../librairieWeb/PIE.htc);*/
  	
	background-color: #FFFFFF;
/*	background-image: url(../images/fond3.png);*/
/*  	background-attachement: fixed;*/
}

div.versetAccueil {
	border: 0px;
/*	padding: 10px;*/

	margin-left: auto;
  	margin-right: auto;
  	
/*  	width: 800px;*/
  	text-align: center;
  	
/*  	-moz-box-shadow: 4px 4px 10px #888;  */
/*  	-webkit-box-shadow: 4px 4px 10px #888;  */
/*  	box-shadow:4px 4px 6px #888;*/
}

div.titrePage {
	font-family: Arial;
	font-weight: normal;
	font-size: 1.1em;
	
	color: #15545F;
/*	text-align: center;*/

	border: 0px;
	padding: 10px;
	padding-left: 25px;
/*	margin-top: 10px;*/
/*  	margin: 20px;*/
	margin-left: 6px;
	margin-right: 6px;

/*  	-webkit-border-radius: 10px;*/
/*    -moz-border-radius: 10px;*/
/*    border-radius: 10px;*/
/*    behavior: url(../librairieWeb/PIE.htc);*/

	background-color: #DCDCDC;
}

div.accueilGauche,
div.presentationGauche {
	padding-left: 10px;
	padding-right: 10px;
	
	width: 65%;
/*	height: 150px;*/

	float: left;
	display: block;

	background-color: #FFFFFF;
}

div.accueilDroite,
div.presentationDroite {
	/* border: 10px solid white; */

	padding: 10px;

	width: 25%;
/*	height: 150px;*/

	float: right;
	display: block;

	background-color: #FFFFFF;
}

div.contactAGauche {
	padding: 10px;
	padding-top: 20px;
	padding-left: 30px;

	width: 31%;

	float: left;
/*	display: inline;*/
}

div.contactADroite {
	padding: 10px;

	width: 58%;
	height: 100%;

	float: right;
/*	display: inline;*/
}

div.iconePanel {
	font-family: Arial;
	font-weight: bold;

	height: 2px;
	width: auto;

	padding: 5px;
	overflow: visible;
/*	clear: both;*/
	z-index: 3000;

}

div.titrePanel {
	font-family: Arial;
	font-size: 1.2em;
	color: white;
	
	width: auto;

	padding: 2px;
	padding-left:40px;
	clear: both;

	-webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    behavior: url(../librairieWeb/PIE.htc);

    background-color: #5385FF;
}


div.contenuPanel {
	font-family: Arial;
	font-size: 0.8em;
	color: #3333CC;

	width: auto;

	border: 1px solid #DCDCDC;
	padding: 5px;

	-webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
    behavior: url(../librairieWeb/PIE.htc);

	background-color: white;

	clear: both;
}

/****************************************/
/*		CONCERNE LE MENU         		*/
/****************************************/

div.menu {
/*	text-align: left;*/
/*	margin-top: 10px;*/
/*	margin-bottom: 10px;*/

/*	padding-left: -200px;*/

	margin-left: auto;
  	margin-right: auto;

	padding-left: 25px;
	max-width: 775px;
	font-size: 1em; 
	background-color: white;
	border-bottom: 3px solid #DCDCDC;
	text-align: left;
}

a.lienMenu {
	padding-top: 2px;
/*	padding-bottom: 10px;*/
	padding-left: 5px;
  	padding-right: 5px;

  	-webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
/*    behavior: url(/PIE.htc);*/
  	
/*  	border: 1px solid #DCDCDC;*/
	color: #15545F;
	text-decoration: none;
}
a.lienMenu:active{color: #15545F; text-decoration: none;}
a.lienMenu:visited{color: #15545F; text-decoration: none;}
a.lienMenu:hover{color: black; text-decoration: none; background-color: #EEEEEE;}

a.lienMenuSelection {
	padding-top: 8px;
	padding-left: 10px;
  	padding-right: 10px;

  	-webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
/*    behavior: url(/PIE.htc);*/
  	
	color: #3333CC;
	text-decoration: none;
}
a.lienMenuSelection:active{color: #3333CC; text-decoration: none;}
a.lienMenuSelection:visited{color: #3333CC; text-decoration: none;}
a.lienMenuSelection:hover{color: black; text-decoration: none;}




div.titreSectionPresentation,
div.titreSectionMultimedia,
div.titreSectionContact,
div.titreSectionArticle,
div.titreSectionEdito,
div.titreSectionInformation,
div.titreSectionLien,
div.titreSection {
	margin-left: auto;
  	margin-right: auto;
  	margin-top: 20px;
  	margin-bottom: 10px;
  	
  	padding-left: 25px;
  	
  	font-family: Tahoma, Arial, Times;
  	font-size: 1.5em;
} 

div.titreSectionInformation {
	color: #75487C;
}

div.titreSectionLien {
	color: #0A6B7C;
}

div.titreSectionPresentation {
  	color: #FF0000;
}

div.titreSectionContact {
  	color: #1AA8EA;
/*  	padding-left: 0px;*/
}

div.titreSectionArticle {
  	color: #E66125;
/*  	margin: 10px;*/
/*  	padding-left: 5px;*/
}

div.titreSectionMultimedia {
  	padding-left: 25px;
  	color: #75BC29;
}

div.titreSectionEdito {

	margin-left: 10px;
	margin-right: 0px;
  	margin-top: 0px;
  	padding-left: 15px;
  	
  	color: #5385FF;
}

div.resumeSection,
div.resumeSectionEdito,
div.resumeSectionPresentation,
div.resumeSectionArticle,
div.resumeSectionLien {
	margin-left: 10px;
  	margin-right: 10px;

  	font-family: Arial;
	font-weight: bold;
	font-size: 0.9em;

	padding: 5px;
	padding-left: 15px;
	
	background-color: white;

	clear: both;
}

div.resumeSectionEdito {
	font-weight: normal;
	text-align:justify;
	font-size: 0.95em;
}

div.resumeSectionPresentation {
	padding-top: 0px;
	padding-bottom: 0px;
	
	font-weight: normal;
	font-size: 1em;
}
div.resumeSectionLien {
	padding-top: 0px;
	padding-bottom: 0px;
	
	font-weight: normal;
	font-size: 1em;
}

div.resumeSectionArticle {
	font-weight: normal;
	font-size: 0.9em;
	padding-top: 0px;
}

span.titreEdito,
span.titreBulletin {
	font-weight: bold;
	font-size: 1.2em;
}
span.referenceBulletin {
	font-style: italic;
}

div.reponse {
	font-weight: normal;
	font-size: 1em;
	
	padding-left: 10px;
/*	padding-bottom: 15px;*/
	
	position: absolute;
	visibility: hidden;
}

img.basSection {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div.gauche {
	padding-left: 20px;
	float: left;
	display: inline;
	background-color: #FFFFFF;
}

div.droite {
	padding-right: 10px;
	float: right;
	display: inline;
	background-color: #FFFFFF;
}

div.erreur {
	padding: 10px;
	border: 2px solid red;
}

div.traitementOK {
	padding: 10px;
	border: 3px solid green;
}

/****************************************/
/*		CONCERNE LE PIED DE PAGE		*/
/****************************************/

div.piedPage {
	width: 800px;
	margin-left: auto;
  	margin-right: auto;

  	padding-top: 5px;
  	padding-bottom: 5px;
  	
  	-webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    behavior: url(../librairieWeb/PIE.htc);
  	
	background-color: #707070;
/*	background-image: url(../images/fond3.png);*/
/*  	background-attachement: fixed;*/
}

table.piedPage {
	border: 0;
	cellspacing: 0;
	cellpadding: 0; 
	width: 75%;	
}

td.piedGauche {
	border-left: 10px solid #707070;
	text-align: left;
	color: white;
}

td.piedMilieu {
	
}

td.piedDroite {
	text-align: right;
}

a.lienNavigationAccueil {
	color: #EEEEEE;
	text-decoration: none;
}
a.lienNavigationAccueil:active{color: #EEEEEE; text-decoration: none;}
a.lienNavigationAccueil:visited{color: #EEEEEE; text-decoration: none;}
a.lienNavigationAccueil:hover{color: white; text-decoration: none;}


a.lienPied {
	color: #DDDDDD;
	text-decoration: none;
}
a.lienPied:active{color: #DDDDDD; text-decoration: none;}
a.lienPied:visited{color: #DDDDDD; text-decoration: none;}
a.lienPied:hover{color: #EEEEEE; text-decoration: none;}


a.lien {
	color: #5385FF;
	text-decoration: none;
	font-weight: none;
}
a.lien:active{color: #5385FF; text-decoration: none;}
a.lien:visited{color: #5385FF; text-decoration: none;}
a.lien:hover{color: black; text-decoration: none;}

a.lienPresentation {
	color: #5385FF;
	text-decoration: none;
	font-weight: none;
}
a.lienPresentation:active{color: #5385FF; text-decoration: none;}
a.lienPresentation:visited{color: #5385FF; text-decoration: none;}
a.lienPresentation:hover{color: #5385FF; text-decoration: underline;}

a.lienQR {
	color: #5385FF;
	text-decoration: none;
	font-weight: none;
}
a.lienQR:active{color: #5385FF; text-decoration: none;}
a.lienQR:visited{color: #5385FF; text-decoration: none;}
a.lienQR:hover{color: black; text-decoration: none;}

a.lienPlanning {
	color: #989898;
	text-decoration: none;
	font-weight: none;
}
a.lienPlanning:active{color: #989898; text-decoration: none;}
a.lienPlanning:visited{color: #989898; text-decoration: none;}
a.lienPlanning:hover{color: black; text-decoration: none;}

a.lienImage {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: none;
}
a.lienImage:active{color: #FFFFFF; text-decoration: none;}
a.lienImage:visited{color: #FFFFFF; text-decoration: none;}
a.lienImage:hover{color: FFFFFF; text-decoration: none;}

a.lienArticle {
	color: #000000;
	text-decoration: none;
	font-weight: none;
}
a.lienArticle:active{color: #000000; text-decoration: none;}
a.lienArticle:visited{color: #000000; text-decoration: none;}
a.lienArticle:hover{color: #585858; text-decoration: none;}


a.lienPageLiens {
	color: #0A6B7C;
	text-decoration: none;
	font-weight: none;
}
a.lienPageLiens:active{color: #0A6B7C; text-decoration: none;}
a.lienPageLiens:visited{color: #0A6B7C; text-decoration: none;}
a.lienPageLiens:hover{color: black; text-decoration: none;}
